mri_to_ct/*/events.out*
mri_to_ct/*/train/
mri_to_ct/*/val/
mri_to_ct/*/test/
data/
slurm_archive
cuda11/
other_data/ganslate.zip
mri_to_ct/*/*/events.out*
mri_to_ct/*/*/train/
mri_to_ct/*/*/val/
mri_to_ct/*/*/test/


ganslate/build
ganslate/CONTRIBUTING.md  
ganslate/docker         
ganslate/LICENSE      
ganslate/mkdocs.yml  
ganslate/pyproject.toml  
ganslate/requirements_ganslate.txt  
ganslate/setup.py  
ganslate/tools
ganslate/CITATION.cff  
ganslate/dist             
ganslate/docs    
ganslate/ganslate.egg-info  
ganslate/MANIFEST.in  
ganslate/projects    
ganslate/README.md       
ganslate/setup.cfg                  
ganslate/tests
